body{
    background-color: #F2E6D0;
}
.loginbutton{
    background-color: pink;
}
.background-Baige{
    background-color: #F2E6D0;
}
.background-Green{
    background-color:#86BF88;
}
.image-button-small{
    width: 3.5rem;
    height: auto;
}
.button-green{
    --bs-btn-color: #fff;
    --bs-btn-bg: #86BF88;
    --bs-btn-border-color: #86BF88;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #70ac72;
    --bs-btn-hover-border-color: #70ac72;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #70ac72;
    --bs-btn-active-border-color: #70ac72;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #70ac72;
    --bs-btn-disabled-border-color: #70ac72;
}
.cursor-pointer{
    cursor: pointer;
}
.table-header-hover{
    cursor: pointer;   
}
.table-header-hover:hover{
    color:#85a386;
}
.logo-hover{
    cursor: pointer;   
}
.logo-hover:hover{
    color:white;
}
